/*=============================================
=       FONTS                                 =
=============================================*/
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");
@font-face {
  font-family: "Mouse";
  src: url("/fonts/mouse.eot?") format("eot"),
    url("/fonts/mouse.woff") format("woff"),
    url("/fonts/mouse.ttf") format("truetype"),
    url("/fonts/mouse.svg#Mouse") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vcr";
  src: url("/fonts/vcr_osd_mono_1.001-webfont.woff2") format("woff2"),
    url("/fonts/vcr_osd_mono_1.001-webfont.woff") format("woff"),
    url("/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.mouse_font {
  font-family: mouse;
}

.montserrat_font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat_font_title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/*=============================================
=       Animations                            =
=============================================*/
@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #aa90f9;
  }
  100% {
    text-shadow: 0 0 15px #aa90f9;
  }
}

/*=============================================
=       Default styles   =
=============================================*/
p,
a {
  font-family: vcr, sans-serif;
}
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #212020;
  overflow-x: hidden;
  color: white;
  margin: 0;
  width: 100%;
}

hr {
  margin-top: 20px;
  margin-bottom: -20px;
  width: calc(
    100% - 100px
  ); /* Subtract total horizontal margin from 100% width */
  margin-inline: 50px;
}
form {
  margin-inline: 10vw;
  padding: 20px;
  border-radius: 8px;
}
footer form {
  margin-inline: 0;
  margin-right: 40px;
  margin-block: auto;
  border-radius: 8px;
}

form label {
  color: rgba(170, 144, 249, 0.9);
}

form button {
  margin-top: 20px;
}

form h2 {
  color: black;
  text-shadow: 0 0 7px #aa90f9;
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 15px;
}

form {
  margin-bottom: 50px;
}

label {
  display: block;
  margin: 10px 0;
  color: #555555;
  text-align: left;
}

input,
input:focus {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: #212020;
  outline: unset;
  border: 1px solid rgba(170, 144, 249, 0.9);
  border-radius: 8px;
  color: white;
}

textarea {
  max-width: 100%;
  width: 100%;
  padding-inline: 10px;
  padding-block: 20px;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: #212020;
  outline: unset;
  border: 1px solid rgba(170, 144, 249, 0.9);
  border-radius: 8px;
  color: white;
  resize: none;
  overflow-y: hidden;
}

button {
  border: 1px solid rgba(170, 144, 249, 0.9);
  background: rgba(0, 0, 0, 0.65);
  padding: 10px 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border-radius: 8px;
  cursor: pointer;
}
button span {
  color: white;
  text-shadow: 0 0 6px #aa90f9;
}

button:hover {
  background-color: rgba(170, 144, 249, 0.2);
}

h2 {
  font-size: 50px;
  color: #aa90f9;
}
/*=============================================
=       Header H1 and particles.js styles =
=============================================*/
header {
  padding: 0px;
}
.homepage_viewport {
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}
#particles-js {
  max-width: 100vw;
}

#particles-js canvas {
  position: absolute;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  top: 0;
  z-index: 3;
}

h1 {
  width: fit-content;
  color: #aa90f9;
  text-align: center;
  position: relative;
  font-size: 120px;
  opacity: 1;
  z-index: 2;
  margin-left: 47px;
  margin-top: 120px;
}
.titleBorder {
  font-family: mouse;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80vw;

  width: fit-content;
  padding-inline: 40px;
  height: 310px;
  border-color: rgba(255, 255, 255, 0.4);
  border-style: solid;
  border-width: 5px;
  border-radius: 999px;
  background-color: rgba(195, 191, 191, 0.087);
}

/*=============================================
=       Nav related styles                   =
=============================================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 20px;
  background-color: #212020;
}

nav div {
  z-index: 20;
}

.nav_bar {
  display: flex;
  align-items: center;
  word-spacing: -0.75ch;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.nav_bar a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.nav_bar a span:nth-child(2):hover {
  color: #aa90f9 !important;
}

.nav_bar a span:nth-child(2) {
  margin-inline: -1.5px;
}
/* .nav_bar a span:nth-child(2):hover {
  color: white !important;
} */
.menu_icon {
  z-index: 5;
  display: none;
}

/*=============================================
=    Styles for "vision", "mission", "values" =
=============================================*/
.about_home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: full;
  padding-inline: 1rem;
  margin-left: 2vw;

  line-height: 1.5;
  /* background-color: red; */
}

.about_home:first-child {
  margin-left: 1.25rem;
}

/* all direct decendents in this case just 3 div's */
.about_home > div {
  flex: 1 1 30%;
  margin-right: 1.25rem;
}

.about_home p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.about_home h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  margin-bottom: -18px;
  color: black;
  text-shadow: 0 0 7px #aa90f9;
  text-align: center;
}

/*=============================================
=         featured content layout on homepage =
=============================================*/
.featured_work {
  text-align: center;
  margin-inline: auto;
}

.featured_work iframe {
  width: 100%;
  min-height: 300px;
  margin: 20px 20px 0 20px;
  height: 100%;
}

.featured_work h2 {
  margin-bottom: 0px;
}

.featured_work a,
.featured_work a:visited,
.featured_work a:link,
.featured_work a:hover,
.featured_work a:active {
  text-decoration: none;
}

.featured_card {
  justify-content: space-between;
  /* max-width: 90vw;
  width: 600px; */
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 50px;
  /* 
  border-color: #aa90f9;
  border-width: 3px;
  border-style: solid; */
}

.featured_instagram {
  width: 30vw;
  object-fit: contain;
  /* max-width: 85vw; */
  margin-right: 15px;
  margin-top: 40px;
  border-radius: 30px;
  /* border-color: #aa90f9;


  border-width: 5px;
  border-style: solid; */
}
.featured_video {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-inline: 15px;
}

.featured_items {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 20px;
  padding-inline: 45px;
  line-height: 1.5;
}

.featured_items > div:last-child {
  width: 100%;
}

.featured_items > div {
  padding-inline: 20px;
  border-radius: 20px;
  border-color: rgba(255, 255, 249, 0.4);
  margin-left: 20px;

  border-width: 5px;
  border-style: solid;
}

.featured_items p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: -10px;
  font-weight: 400;
  font-style: normal;
}

.featured_more_info {
  font-size: 0.9rem;
  text-align: right;
  margin-right: 25px;
  margin-top: 2px;
}
.carat {
  transform: translate(1px, -2px);
  display: inline-block;
}

/*=============================================
=         content layout on projects page  =
=============================================*/
#projects_body .featured_video {
  width: 55vw;
}

#projects_body > div:last-child {
  margin-bottom: 50px;
}

#projects_body hr {
  margin-top: 50px;
  margin-bottom: -10px;
}

#projects_body h2 {
  text-align: left;
  margin-left: 6.3vw;
  margin-bottom: -20px;
}

/*=============================================
=         Interactive demo Modal styles =
=============================================*/
#trackbutton {
  margin-inline: auto;
  text-align: center;
  display: block;
}

#open_modal {
  z-index: 100;
  position: absolute;
  top: 99%;
  left: 99%;
  transform: translate(-99%, -98%);
  color: rgba(255, 255, 255, 0.55);
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#open_modal:hover {
  color: #aa90f9;
}

.modal_instructions {
  display: none;
  border-radius: 8px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.45);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: black;
  padding-inline: 15px;
  padding-bottom: 15px;
  z-index: 100;
  line-height: 1.55;
}

.modal_instructions p,
.modal_instructions ol {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.modal_instructions ol {
  line-height: 1.75;
}
.modal_instructions li {
  margin-block: 10px;
}
.modal_instructions li span {
  font-size: 0.65rem;
  display: block;
  margin-top: -5px;
  margin-left: 10px;
}

.img_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.close_modal {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 3px;
  margin-right: -10px;
  margin-bottom: -32px;
  text-align: right;
}

.close_modal:hover {
  color: red;
}

/*=============================================
=         Classes for about us page =
=============================================*/
#about_body p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}
#about_body .left_about p {
  line-height: 1.5;
}
.description {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-top: 10px; /* Adjust margin as needed */
}

.overview {
  display: flex;
  margin: auto;
  width: 100%; /* Make it take full width of the screen */
  max-width: 1000px; /* Set a max-width for larger screens */
  padding: 20px;
  box-sizing: border-box;
}

.left_about {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.left_about h2 {
  text-align: left;
  white-space: nowrap;
  margin: 0;
  margin-left: -3px;
  padding: 0;
}
.board h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}
.right_about {
  flex: 1; /* Takes up 1 part of the flex container */
  padding: 20px; /* Adjust padding as needed */
  justify-content: center;
  display: flex;
}

.right_about img {
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.board {
  text-align: center;
  padding: 80px;
}
.board p {
  color: white !important;
}

.board_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.board_intro {
  background: rgba(170, 144, 249, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  padding: 20px;
  text-align: left;
}

.board_intro span {
  color: #aa90f9;
}

.board_intro img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
  margin-bottom: 10px;
}

.board_intro p {
  margin: 10px 0;
  color: black;
}

/* Add responsive styles as needed */

.author_tag {
  text-align: right;
  margin-bottom: -5px;
  margin-top: -35px;
  font-size: 0.6rem;
}
/*=============================================
=       Radio styles                          =
=============================================*/
.stv-radio-tabs-wrapper {
  clear: both;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #428bca;
  padding: 0 10px;
  position: relative;
}
input.stv-radio-tab {
  position: absolute;
  left: -99999em;
  top: -99999em;
}
input.stv-radio-tab + label {
  cursor: pointer;
  float: left;
  border: 1px solid #aaa;
  border-bottom: 0;
  background-color: #fff;
  margin-right: -1px;
  padding: 0.5em 1em;
  position: relative;
}
input.stv-radio-tab + label:hover {
  background-color: #eee;
}
input.stv-radio-tab:checked + label {
  box-shadow: 0 3px 0 -1px #fff, inset 0 5px 0 -1px #13cd4a;
  background-color: #fff;
  border-color: #428bca;
  z-index: 1;
}

/*=============================================
=       Utility classes to be reused          =
=============================================*/
.full_flex {
  flex: 1;
}
.text_shadow {
  animation: text-shadow 0.6s both;
}

.get_involved {
  margin-top: 20px;
  color: #aa90f9;
  text-align: center;
  margin-bottom: 30px !important;
}

.wide_letters {
  letter-spacing: 1.55rem;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.purp_font {
  color: #aa90f9;
}

.active_page {
  color: #aa90f9;
}

.purple_back {
  background-color: #aa90f9;
}
.glow_text {
  margin-bottom: -18px;
  color: black;
  text-shadow: 0 0 7px #aa90f9;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.glow {
  -webkit-box-shadow: 0px 0px 105px 0px rgba(170, 144, 249, 0.9);
  -moz-box-shadow: 0px 0px 105px 0px rgba(170, 144, 249, 0.9);
  box-shadow: 0px 0px 105px 0px rgba(170, 144, 249, 0.9);
}

.purple_glass {
  background: rgba(170, 144, 249, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/*=============================================
=       Linktree styles                      =
=============================================*/
.wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.profile {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.photo {
  height: 200px;
  width: 100%;
}

.img {
  height: 100%;
  width: 200px;
  border-radius: 50%;
  background: url("images/Logo.png");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.profile_name {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin: 8px 0;
}

.at {
  font-size: 13px;
}

.custom-btn {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  position: relative;
  display: block;
  outline: none;
  background-color: rgba(170, 144, 249, 0.4);
}

.btn-8 {
  line-height: 42px;
  padding: 0;
  margin: 14px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-8 span a {
  text-decoration: none;
  color: white;
}

.btn-8 span:hover a {
  color: #c797eb;
}

.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}

.btn-8:before {
  height: 0%;
  width: 2px;
}

.btn-8:after {
  width: 0%;
  height: 2px;
}

.btn-8:hover:before {
  height: 100%;
}

.btn-8:hover:after {
  width: 100%;
}

.btn-8:hover {
  background: transparent;
}

.btn-8 span:hover {
  color: #c797eb;
}

.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}

.btn-8 span:before {
  width: 2px;
  height: 0%;
}

.btn-8 span:after {
  height: 2px;
  width: 0%;
}

.btn-8 span:hover:before {
  height: 100%;
}

.btn-8 span:hover:after {
  width: 100%;
}

/*     Social Icons    */
.sociaicon {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.socialsanimate {
  transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  z-index: 0;
}

.socialsalign {
  padding-left: 22px;
  padding-right: 22px;
  color: inherit;
  text-decoration: underline;
}

.socialsanimate svg {
  pointer-events: none;
}

.socialssvg {
  margin-top: 8px;
  fill: rgb(255, 254, 254);
  width: 32px;
  height: 32px;
}

/*=============================================
=       Media queries for responsiveness =
=============================================*/
@media (max-width: 768px) {
  .board_grid {
    grid-template-columns: 1fr;
  }
  .board {
    padding: 20px;
  }
  .board_intro img {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .featured_content {
    margin: 5%;
  }
}
@media screen and (max-width: 493px) {
  h1 {
    font-size: 35px !important;
    margin-bottom: 95px;
    margin-right: 18px;
  }
}
@media only screen and (max-width: 980px) {
  .featured_video:not(#projects_body .featured_video) {
    border-color: rgba(255, 255, 249, 0.4);
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
  }
}
@media only screen and (max-width: 768px) {
  .menu_icon {
    display: block;
  }
  .nav_bar {
    width: calc(100% - 50px) !important;
    margin-inline: 25px;
    padding-block: 10px;
    margin-top: 10px;
    border-color: rgba(255, 255, 249, 0.4);
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
  }
  .featured_card {
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-inline: 20px;
    width: calc(100% - 40px);
  }
  .featured_items {
    flex-direction: column;
    padding-inline: 18px;
  }
  .featured_items > div:last-child {
    width: unset;
  }
  .featured_items div {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .featured_instagram {
    margin-inline: auto;
    width: 90vw;
  }
  #projects_body .featured_video {
    min-width: 85vw;
  }
  .featured_video {
    /* padding-inline: 20px; */
    flex-direction: column-reverse;
    margin-inline: auto;
  }
  .about_home {
    flex-direction: column;
  }
  .about_home > div {
    margin-right: 0;
    margin-bottom: -20px;
  }
  .about_home > div:last-child {
    margin-bottom: 0px;
  }

  .nav_bar {
    display: none;
    position: absolute;
    top: 70px; /* Adjust as needed */
    right: 0;
    background-color: #212020;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav_bar.show {
    display: flex;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 95px;
    margin-right: 18px;
  }
  .titleBorder {
    height: 150px;
    max-width: 50vw;
  }

  .featured_work iframe {
    margin-bottom: 15px;
  }

  header {
    margin-bottom: 300px;
  }

  h2 {
    font-size: 30px;
  }
  .featured_work > a > h2 {
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  hr {
    width: calc(
      100% - 50px
    ); /* Subtract total horizontal margin from 100% width */
    margin-inline: 25px;
    margin-block: unset;
  }
  #projects_body hr {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .right_about img {
    max-width: 100%;
    object-fit: contain;
  }
  form {
    margin-inline: 3.5vw;
  }
  footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer form {
    margin-inline: 45px;
  }
}
