body {
  font-family: Arial, sans-serif;
  background-color: #212020;
  color: white;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 20px;
  background-color: #212020;
}

.nav_bar {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.nav_bar a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

header {
  padding: 0px;
}

h1 {
  color: #aa90f9;
  text-align: center;
  font-size: 150px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

h2 {
  font-size: 50px;
  color: #aa90f9;
}

.text-shadow {
  animation: text-shadow 0.6s both;
}

.featured_work {
  text-align: center;
  margin: 20px; /* Adjust margin as needed */
  margin-top: 100px;
  padding: 50px;
}

.featured_work h2 {
  margin-bottom: 10px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive video */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description {
  text-align: left;
  margin-top: 10px; /* Adjust margin as needed */
}

.slideshow-container {
  padding: 50px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.slideshow-container img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* ABOUT US */

.overview {
  display: flex;
  margin: auto;
  width: 100%; /* Make it take full width of the screen */
  max-width: 1000px; /* Set a max-width for larger screens */
  padding: 20px;
  box-sizing: border-box;
}

.left_about {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.right_about {
  flex: 1; /* Takes up 1 part of the flex container */
  padding: 20px; /* Adjust padding as needed */
  justify-content: center;
  display: flex;
}

.right_about img {
  max-width: 100%;
}

.board {
  text-align: center;
  padding: 20px;
}

.board_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.board_intro {
  background-color: #aa90f9;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
}

.board_intro img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.board_intro p {
  margin: 10px 0;
  color: black;
}

/* Add responsive styles as needed */
@media (max-width: 768px) {
  .board_grid {
    grid-template-columns: 1fr;
  }
}

/* New styles for the form */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

label {
  display: block;
  margin: 10px 0;
  color: #555555;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #aa90f9;
  }
  100% {
    text-shadow: 0 0 15px #aa90f9;
  }
}

.menu_icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu_icon {
    display: block;
  }
  .nav_bar {
    display: none;
    position: absolute;
    top: 70px; /* Adjust as needed */
    right: 0;
    background-color: #212020;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav_bar.show {
    display: flex;
  }

  h1 {
    font-size: 50px;
  }

  header {
    margin-bottom: 300px;
  }

  h2 {
    font-size: 30px;
  }
}
